<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input {
            display: block;
        }
    </style>
</head>
<body>
    <a href="/logout-user">Logout</a>
    <H1>Hello <%= userFullName %></H1>
    <h2>Now you can use our website and your email is :  <%= userEmail %></h2>
</body>
</html>